
<h2>test</h2>
<div class="articlesBox">
    {{#each stories}}
     <p> {{headline}} </p>
          <p> {{url}} </p>
          <!--if button clicked add comment  --> 
          <button class ="viewComments" data-id="{{id}}">
              <i class="fas fa-sliders-h-square"></i>COMMENT HERE
          </button>
    {{/each}}
</div>